html {  
	background-color: #C2EBCB;
	cursor: crosshair;  
    text-align: center;
}

body {

}

section {
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: flex-start;
}

header {
	font-family: 'Nanum Pen Script';
	font-size: 4em;
	font-weight: bold;
	margin-bottom: 1em;
}

a {
    color: inherit;
    text-decoration: none;
	position: relative;
}

a:hover {
    color: #00A0C6; 
    text-decoration: none; 
    cursor: crosshair;  
}

p {
	font-family: 'Roboto Slab';
	font-size: 25px;
}

.container {
	display: inline-flex;
	flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
	width: max-content;
}

.DS-screen {
}

.top-spacer {
	height: 10em;
	width: auto;
}

@media screen and (max-width: 600px) {
    body {
        color: gray;
    }
	.DS-controls {
		display: none;
	}
}